In [12]:
# 创建Dataframe
import pandas as pd
students = pd.DataFrame([
    ['XiaoMing', 'Beijing', 'China'],
    ['XiaoHong', 'Wuhan', 'China'],
    ['Hughes', 'LA', 'USA'],
    ['Jack', 'Pa', 'France']],
    columns = ['name', 'Place', 'Country'])

students

       name    Place Country
0  XiaoMing  Beijing   China
1  XiaoHong    Wuhan   China
2    Hughes       LA     USA
3      Jack       Pa  France

In [13]:
# display the head
students.head(3)

       name    Place Country
0  XiaoMing  Beijing   China
1  XiaoHong    Wuhan   China
2    Hughes       LA     USA

In [14]:
# display the tails
students.tail(3)

       name  Place Country
1  XiaoHong  Wuhan   China
2    Hughes     LA     USA
3      Jack     Pa  France

In [15]:
# numnber of raws and colunm
students.shape

(4, 3)

In [17]:
# display the info will return more detailed information
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
name       4 non-null object
Place      4 non-null object
Country    4 non-null object
dtypes: object(3)
memory usage: 176.0+ bytes

In [18]:
# request a list of columns
students[['name', 'Place']]

       name    Place
0  XiaoMing  Beijing
1  XiaoHong    Wuhan
2    Hughes       LA
3      Jack       Pa